<a href="https://colab.research.google.com/github/gabordun/Python_workshops/blob/master/import_from_web3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
import numpy as np
import pandas as pd
import csv
from bs4 import BeautifulSoup

#import requests
from urllib import request
import requests
import time

basic=request.urlopen("https://en.wikipedia.org/wiki/List_of_Formula_One_World_Drivers%27_Champions")
soup=BeautifulSoup(basic, 'html.parser')

#b = soup.prettify()
#print(b)

x = soup.find_all("tr")
rowcounter = 0
for item in x:
  rowcounter += 1
y = soup.find_all('td')
colcounter = 0
for item in y:
  colcounter += 1

print(rowcounter)
print(colcounter)

result = []
for i in range(0,colcounter):
  a=y[i].get_text("title").replace("title"," ").replace("\n"," ")
  result.append(a)
 
df = pd.DataFrame( data = result)
df

# save the result as csv
with open('result.csv', 'w', newline='') as csvfile:
    formula1 = csv.writer(csvfile, delimiter=';', quotechar='"', quoting=csv.QUOTE_MINIMAL)

    for i in df:
        formula1.writerow([string])

242
1437

In [0]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

#import requests
from urllib import request
import requests
import time

url = "https://index.hu/kultur/zene/2020/01/03/legjobb_magyar_lemezek_2019/"
basic=request.urlopen(url)
soup=BeautifulSoup(basic, 'lxml')

#for item in soup.find_all('td'):
print(soup.get_text())
print("--")

tables = pd.read_html(url)

tables


#soup.table.find_all('tr')
#table = {'Hamilton' :[],'Vettel': [], 'Schumacher': []}

#x = soup.table_find_all()
#rowcounter = 0
#for item in x:
#  rowcounter += 1
#y = soup.table('tr')
#colcounter = 0
#for item in x:
#  colcounter += 1

#print(rowcounter)
#print(colcounter)

#for i in range(0,rowcounter):
#  print(y[i].get_text())

#for i in range(0,rowcounter):
# print(get_text(x[i])

In [7]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

#import requests
from urllib import request
import requests
import time

url = "https://en.wikipedia.org/wiki/List_of_Formula_One_World_Drivers%27_Champions"
tables = pd.read_html(url)

counter = 0
for x in tables:
 counter += 1

print(counter)

for i in range(0,counter):
 print(tables[i])
 print('--')

#print(df)

#df2=pd.DataFrame(data = tables[counter-1])

#df2

tables[counter-1]

13
                                         Formula One
0  Current season 2020 Formula One World Champion...
1  Related articles History of Formula One Formul...
2  Lists Drivers (GP winnersPolesittersFastest la...
3   Records Drivers Constructors Engines Tyres Races
4  Organisations FIA FIA World Motor Sport Counci...
5                                                vte
--
    Season                  Driver  Age  ...       Clinched  Margin  % Margin
0     1950     Giuseppe Farina [1]   44  ...    Race 7 of 7       3    10.000
1     1951  Juan Manuel Fangio [2]   40  ...    Race 8 of 8       6    19.355
2    19521      Alberto Ascari [3]   34  ...    Race 6 of 8      12    33.333
3    19531      Alberto Ascari [3]   35  ...    Race 8 of 9     6.5    18.841
4     1954  Juan Manuel Fangio [2]   43  ...    Race 7 of 9  16.857    40.136
..     ...                     ...  ...  ...            ...     ...       ...
67    2016       Nico Rosberg [33]   31  ...  Race 21 of 21       5     1.299
68    2017     Lewis Hamilton [30]   32  ...  Race 18 of 20      46    12.672
69    2018     Lewis Hamilton [30]   33  ...  Race 19 of 21      88    21.569
70    2019     Lewis Hamilton [30]   34  ...  Race 19 of 21      87    21.065
71  Season                  Driver  Age  ...       Clinched  Margin  % Margin

[72 rows x 15 columns]
--
                Driver  Titles                                 Season(s)
0   Michael Schumacher       7  1994, 1995, 2000, 2001, 2002, 2003, 2004
1       Lewis Hamilton       6        2008, 2014, 2015, 2017, 2018, 2019
2   Juan Manuel Fangio       5              1951, 1954, 1955, 1956, 1957
3          Alain Prost       4                    1985, 1986, 1989, 1993
4     Sebastian Vettel       4                    2010, 2011, 2012, 2013
5         Jack Brabham       3                          1959, 1960, 1966
6       Jackie Stewart       3                          1969, 1971, 1973
7           Niki Lauda       3                          1975, 1977, 1984
8        Nelson Piquet       3                          1981, 1983, 1987
9         Ayrton Senna       3                          1988, 1990, 1991
10      Alberto Ascari       2                                1952, 1953
11         Graham Hill       2                                1962, 1968
12           Jim Clark       2                                1963, 1965
13  Emerson Fittipaldi       2                                1972, 1974
14       Mika HÃ¤kkinen       2                                1998, 1999
15     Fernando Alonso       2                                2005, 2006
16     Giuseppe Farina       1                                      1950
17       Mike Hawthorn       1                                      1958
18           Phil Hill       1                                      1961
19        John Surtees       1                                      1964
20         Denny Hulme       1                                      1967
21        Jochen Rindt       1                                      1970
22          James Hunt       1                                      1976
23      Mario Andretti       1                                      1978
24      Jody Scheckter       1                                      1979
25          Alan Jones       1                                      1980
26        Keke Rosberg       1                                      1982
27       Nigel Mansell       1                                      1992
28          Damon Hill       1                                      1996
29  Jacques Villeneuve       1                                      1997
30      Kimi RÃ¤ikkÃ¶nen       1                                      2007
31       Jenson Button       1                                      2009
32        Nico Rosberg       1                                      2016
--
           Country  ...  Drivers by name (titles)
0   United Kingdom  ...        Lewis Hamilton (6)
1   United Kingdom  ...        Jackie Stewart (3)
2   United Kingdom  ...           Graham Hill (2)
3   United Kingdom  ...             Jim Clark (2)
4   United Kingdom  ...         Jenson Button (1)
5   United Kingdom  ...         Mike Hawthorn (1)
6   United Kingdom  ...            Damon Hill (1)
7   United Kingdom  ...            James Hunt (1)
8   United Kingdom  ...         Nigel Mansell (1)
9   United Kingdom  ...          John Surtees (1)
10         Germany  ...    Michael Schumacher (7)
11         Germany  ...      Sebastian Vettel (4)
12         Germany  ...          Nico Rosberg (1)
13          Brazil  ...         Nelson Piquet (3)
14          Brazil  ...          Ayrton Senna (3)
15          Brazil  ...    Emerson Fittipaldi (2)
16       Argentina  ...    Juan Manuel Fangio (5)
17         Finland  ...         Mika HÃ¤kkinen (2)
18         Finland  ...        Kimi RÃ¤ikkÃ¶nen (1)
19         Finland  ...          Keke Rosberg (1)
20       Australia  ...          Jack Brabham (3)
21       Australia  ...            Alan Jones (1)
22         Austria  ...            Niki Lauda (3)
23         Austria  ...          Jochen Rindt (1)
24          France  ...           Alain Prost (4)
25           Italy  ...        Alberto Ascari (2)
26           Italy  ...       Giuseppe Farina (1)
27   United States  ...        Mario Andretti (1)
28   United States  ...             Phil Hill (1)
29           Spain  ...       Fernando Alonso (2)
30     New Zealand  ...           Denny Hulme (1)
31    South Africa  ...        Jody Scheckter (1)
32          Canada  ...    Jacques Villeneuve (1)

[33 rows x 5 columns]
--
   Constructor         Country  Titles
0      Ferrari           Italy      15
1      McLaren  United Kingdom      12
2    Mercedes1         Germany       8
3     Williams  United Kingdom       7
4        Lotus  United Kingdom       6
5     Red Bull         Austria       4
6      Brabham  United Kingdom       4
7      Renault          France       2
8       Cooper  United Kingdom       2
9     Benetton  United Kingdom       2
10     Tyrrell  United Kingdom       2
11  Alfa Romeo           Italy       2
12   Maserati1           Italy       2
13         BRM  United Kingdom       1
14       Matra          France       1
15       Brawn  United Kingdom       1
--
       Nationality  Titles  Constructors Constructor name (titles)
0   United Kingdom      37             9                Cooper (2)
1   United Kingdom      37             9                   BRM (1)
2   United Kingdom      37             9                 Lotus (6)
3   United Kingdom      37             9               Brabham (4)
4   United Kingdom      37             9               Tyrrell (2)
5   United Kingdom      37             9              McLaren (12)
6   United Kingdom      37             9              Williams (7)
7   United Kingdom      37             9              Benetton (2)
8   United Kingdom      37             9                 Brawn (1)
9            Italy      19             3            Alfa Romeo (2)
10           Italy      19             3              Ferrari (15)
11           Italy      19             3              Maserati (2)
12         Germany       8             1              Mercedes (8)
13         Austria       4             1              Red Bull (4)
14          France       3             2               Renault (2)
15          France       3             2                 Matra (1)
--
        Engine Titles
0      Ferrari     15
1       Fordâ1     13
2     Mercedes   12â2
3      Renault     11
4        Honda      5
5       Climax      4
6        TAGâ3      3
7   Alfa Romeo      2
8     Maserati      2
9        Repco      2
10         BMW      1
11         BRM      1
--
   Rank  ...                                            Seasons
0     1  ...  1966â1967, 1971, 1973â1978, 1980, 1982, 1985â1997
1     2  ...                     1950â1954â4â¯5, 1957, 2011â2019
2     3  ...                               1998â2004, 2007â2010
3     4  ...                                    1959â1965, 1969
4     5  ...                   1979, 1981, 1983â1984, 2005â2006
5     6  ...                           1952â5, 1968, 1970, 1972
6     7  ...                                        1954â4â1955
7     7  ...                                         1956, 1958

[8 rows x 5 columns]
--
   Unnamed: 0              Driver                   Age  Season
0           1    Sebastian Vettel    23 years, 134 days    2010
1           2      Lewis Hamilton    23 years, 300 days    2008
2           3     Fernando Alonso     24 years, 58 days    2005
3           4  Emerson Fittipaldi    25 years, 273 days    1972
4           5  Michael Schumacher    25 years, 314 days    1994
5           6          Niki Lauda    26 years, 197 days    1975
6           7  Jacques Villeneuve    26 years, 200 days    1997
7           8           Jim Clark    27 years, 188 days    1963
8           9      Kimi RÃ¤ikkÃ¶nen      28 years, 4 days    2007
9          10        Jochen Rindt  28 years, 140 daysâ1    1970
--
   Unnamed: 0              Driver                 Age  Season
0           1  Juan Manuel Fangio   46 years, 41 days    1957
1           2     Giuseppe Farina  43 years, 308 days    1950
2           3        Jack Brabham  40 years, 155 days    1966
3           4         Graham Hill  39 years, 262 days    1968
4           5       Nigel Mansell    39 years, 8 days    1992
5           6         Alain Prost  38 years, 214 days    1993
6           7      Mario Andretti  38 years, 193 days    1978
7           8          Damon Hill   36 years, 26 days    1996
8           9          Niki Lauda  35 years, 242 days    1984
9          10  Michael Schumacher  35 years, 239 days    2004
--
    Championships              Driver    Seasons
0               5  Michael Schumacher  2000â2004
1               4  Juan Manuel Fangio  1954â1957
2               4    Sebastian Vettel  2010â2013
3               3      Lewis Hamilton  2017â2019
4               2      Alberto Ascari  1952â1953
5               2        Jack Brabham  1959â1960
6               2         Alain Prost  1985â1986
7               2        Ayrton Senna  1990â1991
8               2  Michael Schumacher  1994â1995
9               2       Mika HÃ¤kkinen  1998â1999
10              2     Fernando Alonso  2005â2006
11              2      Lewis Hamilton  2014â2015
--
             vteFormula One World Drivers' Champions  ...                                         Unnamed: 7
0  1950 G. Farina 1951 J. M. Fangio 1952 A. Ascar...  ...                                                NaN
1                                                NaN  ...  2010 S. Vettel 2011 S. Vettel 2012 S. Vettel 2...

[2 rows x 8 columns]
--
    0  ...                                                  7
0 NaN  ...  2010 S. Vettel 2011 S. Vettel 2012 S. Vettel 2...

[1 rows x 8 columns]
--

    0  ...                                                  7
0 NaN  ...  2010 S. Vettel 2011 S. Vettel 2012 S. Vettel 2...

[1 rows x 8 columns]

In [0]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

#import requests
from urllib import request
import requests
import time

basic=requests.get("https://en.wikipedia.org/wiki/List_of_Formula_One_World_Drivers%27_Champions")
soup=BeautifulSoup(basic.text,'html.parser')
     
table = {'Driver': [], 'Season':[] , 'Age':[] }
#marker = 0
for item in soup.table.find_all('tr'):
 if item.tr == 'Driver':
   table[item.tr.text].append(item.td.text.replace('\n',''))
 if item.tr == 'Season':
   table[item.tr.text].append(item.td.text)
 if item.tr == 'Age':
   table[item.tr.text].append(item.td.text)
df = pd.DataFrame(data = table)
df

Empty DataFrame
Columns: [Driver, Season, Age]
Index: []

In [0]:
# read source html
import requests
r = requests.get("https://en.wikipedia.org/wiki/Formula_One")
doc = BeautifulSoup(r.text, "html.parser")

new_table = pd.DataFrame(columns=range(0,100), index = [1]) # I know the size 

row_marker = 0
for row in doc.find_all('tr'):
  column_marker = 0
  columns = row.find_all('td')
  for column in columns:
    new_table.iat[row_marker,column_marker] = column.get_text()
    column_marker += 1
    
new_table

AttributeError: ignored

In [0]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
    
class HTMLTableParser:
       
        def parse_url(self, url):
            response = requests.get(url)
            soup = BeautifulSoup(response.text, 'lxml')
            return [(table['id'],self.parse_html_table(table))\
                    for table in soup.find_all('table')]  
    
        def parse_html_table(self, table):
            n_columns = 0
            n_rows=0
            column_names = []
    
            # Find number of rows and columns
            # we also find the column titles if we can
            for row in table.find_all('tr'):
                
                # Determine the number of rows in the table
                td_tags = row.find_all('td')
                if len(td_tags) > 0:
                    n_rows+=1
                    if n_columns == 0:
                        # Set the number of columns for our table
                        n_columns = len(td_tags)
                        
                # Handle column names if we find them
                th_tags = row.find_all('th') 
                if len(th_tags) > 0 and len(column_names) == 0:
                    for th in th_tags:
                        column_names.append(th.get_text())
    
            # Safeguard on Column Titles
            if len(column_names) > 0 and len(column_names) != n_columns:
                raise Exception("Column titles do not match the number of columns")
    
            columns = column_names if len(column_names) > 0 else range(0,n_columns)
            df = pd.DataFrame(columns = columns,
                              index= range(0,n_rows))
            row_marker = 0
            for row in table.find_all('tr'):
                column_marker = 0
                columns = row.find_all('td')
                for column in columns:
                    df.iat[row_marker,column_marker] = column.get_text()
                    column_marker += 1
                if len(columns) > 0:
                    row_marker += 1
                    
            # Convert to float if possible
            for col in df:
                try:
                    df[col] = df[col].astype(float)
                except ValueError:
                    pass
            
            return df