<a href="https://colab.research.google.com/github/gabordun/Python_workshops/blob/master/workshop1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Shekhar's Python workshop No1
#Q1

inputarray = [7,8,10,11111110]
def oddoreven(inputarray):

    odd=[x for x in inputarray if x % 2 > 0]
    even=[x for x in inputarray if x % 2 <= 0]
    if len(odd) == 1:
     return odd
    if len(even) == 1:
     return even 
    else:
     return 'something went wrong'

print(oddoreven(inputarray))

[7]

In [0]:
a=[1,2,3,5,'ajshdfiw']
len(a)
inputarray = [6,8,10,9]
even=[x for x in inputarray if x % 2 <= 0]
print(even)

[6, 8, 10]

In [0]:
#Q2

a=[5,6,8,100,1000]
b=[6,8,10]

def array_diff(a,b):
  result = [x for x in a if x not in b]
  return (result)

print(array_diff(a,b))

print(array_diff([1,2],[1]))
print(array_diff([1,2,2], [2]))

[5, 100, 1000]
[2]
[1]

In [2]:
#Q3
names=[{'name': 'Bart'},{'name': 'Lisa'},{'name': 'Maggie'},{'name': 'Homer'},{'name': 'Marge'}]

def namelist(names):
  names = [item['name'] for item in names]
  n = len(names)
  if n == 0:
   return('')
  if n == 1:
   return(names[0])
  else:
   return(print(' , '.join(names[:-1]), names[n-1], sep=' & '))

print(namelist(names))

Bart , Lisa , Maggie , Homer & Marge
None

In [16]:
#Q4
input = [1,2,'aasf','1','123',123]

def filteringstrings(input):
  result = [x for x in input if isinstance(x, str) == False]
  return(result)

print(filteringstrings(input))

[1, 2, 123]

In [21]:
#Q5
input = [20,1,-1,2,-2,3,3,5,5,1,2,4,20,4,-1,-2,5]

def find_it(input):
  result = input.count([x for x in input])
  return (result)

print(find_it(input))

n = len(input)
output = [x for n in input ]
input.count(input[0:n-2])

0

0